{% extends "base.html.twig" %}
{% block title %}Загрузить изображения{% endblock %}
{% block body %}
    <div class="ui one column grid ">
        <div class="sixteen wide column" style="height: 100%">
            <div class="ui piled segment">
                <p>Продукт успешно сохранен!</p>
            </div>
        </div>
    </div>
{% endblock %}