<div class="ui vertical menu" id="admin-menu">
    <a class="item elem-menu-admin">Изменить цвет фона сайта</a>
    <a class="item elem-menu-admin">Изменить цвет шапки сайта</a>
    <a class="item elem-menu-admin" style="color:green" href="/admin/category/create">Добавить категорию</a>
    <a class="item elem-menu-admin" style="color: green" href="/admin/product/category">Добавить товар</a>
    <a class="item elem-menu-admin">Модерация комментариев</a>
    <a class="item elem-menu-admin">Редактировать меню</a>
</div>

